<div class="registerBkng">
    
    <p class="hiredDash"><span>Hired Dashboard</span></p>
    
    <a href="#/page-home" class="signOut"><span>Sign out</span></a>
    
</div>

<div class="blueBox">
        <p class="htmlTestAnswers htmlTest">HTML Answers <span class="this"> - {{thisQuestion + 1}} of {{totalQuestions}}</span></p>
</div>



<form>
    <div>
        <p>Write your comments</p>
        <name>Name</name>
        <input type="text" required focus>
        <p>subject</p>
        <input type="text" required>
    </div>
</form>