<div class="registerBkng">
    
    <p class="hiredDash"><span>Hired Dashboard</span></p>
    
    <a href="#/page-home" class="signOut"><span>Sign out</span></a>
    
</div>

<div>
    <p class="lang">language testing</p>
    <hr>
</div>

<div class="images">
    <!--HTML--> 
    <div class="width">
    <a href="#/html"><img src="../Images/HTML_two.png"></a>
    <p class="htmlTitle picTitle"><strong>HTML</strong></p>
    <p class="htmlSub">The standard markup language used to create web pages.</p>
    </div>
    
    
    <!--CSS-->
    <div class="width">
    <a href="#/css"><img src="../Images/css_two.png"></a>
    <p class="cssTitle picTitle"><strong>CSS</strong></p>
    <p class="cssSub">A style language for describing the look and formatting of a document.</p>


    </div>
    
    <!--JAVASCRIPT-->
    <div class="width">
    <a href="#/javascript"><img src="../Images/javascript_two.png"></a>
    <p class="javaTitle picTitle"><strong>Javascript</strong></p>
    <p class="javaSub">A high level, dynamic, untyped, and interpreted programming language.</p>


    </div>
    
    <!--MONGO-->
    <div class="width">
    <a href="#/mongo"><img src="../Images/mongodb_two.png"></a>
    <p class="mongoTitle picTitle"><strong>MongoDB</strong></p>
    <p class="mongoSub">MongoDB is a cross-platform document-oriented database.</p>


    </div>
    
    <!--EXPRESS-->
    <div class="width">
    <a href="#/express"><img src="../Images/express_three.png" class="express"></a>
    <p class="expTitle picTitle"><strong>Express</strong></p>
    <p class="expSub">A Node.js web application server framework, designed for building single-page, multi-page, and hybrid web applications.</p>


    </div>
    
    <!--ANGULAR-->
    <div class="width">
    <a href="#/angular"><img src="../Images/angular_js_two.png"></a>
    <p class="angTitle picTitle"><strong>AngularJS</strong></p>
    <p class="angSub">An open-source web application framework that extends HTML with new attributes.</p>


    </div>
    
    <!--NODEJS-->
    <div class="width">
    <a href="#/node"><img src="../Images/nodejs_two.png"></a>
    <p class="nodeTitle picTitle"><strong>NodeJS</strong></p>
    <p class="nodeSub">An open source, cross-platform for server-side and networking applications.</p>


    </div>
    
    <!--REACT-->
    <div class="width">
    <a href="#/react"><img src="../Images/react-logo_two.png"></a>
    <p class="reactTitle picTitle"><strong>React</strong></p>
    <p class="reactSub">A JavaScript library for creating user interfaces by Facebook and Instagram.</p>


    </div>
    
    <!--JQUERY-->
    <div class="width">
    <a href="#/jQuery"><img src="../Images/jQuery.png"></a>
    <p class="jqTitle picTitle"><strong>jQuery</strong></p>
    <p class="jqSub">A cross-platform JavaScript library designed to simplify the client-side scripting of HTML.</p>


    </div>
    
    <!--DATABASES-->
    <div class="width">
    <a href="#/databases"><img src="../Images/bw-database_two.png"></a>
    <p class="dataTitle picTitle"><strong>Databases</strong></p>
    <p class="dataSub">It is the collection of schemes, tables, queries, reports, views and other objects.</p>


    </div>
    
    <!--GIT-->
    <div class="width">
    <a href="#/git"><img src="../Images/Git_two.png"></a>
    <p class="gitTitle picTitle"><strong>Git</strong></p>
    <p class="gitSub">is a distributed revision control system with an emphasis on speed, data integrity, and support for distributed, non-linear workflows.</p>


    </div>
    
    <!--GITHUB-->
    <div class="width">
    <a href="#/gitHub"><img src="../Images/github_two.png"></a>
    <p class="githubTitle picTitle"><strong>GitHub</strong></p>
    <p class="hubSub">Web-based Git repository hosting service, which offers all of the distributed revision control and source code management (SCM) functionality of Git as well as adding its own features.</p>


    </div>
    
</div>






