<div>
    
    <nav class="navBar">
        <li><a href="#/page-home">Sign out</a></li>
    </nav>
    
    <div class="langBack">
        <nav class="langBar">
            <li class="text"><a href="#">HTML</a></li>
            <li class="text"><a href="#">CSS</a></li>
            <li class="text"><a href="#">Javascript</a></li>
            <li class="text"><a href="#">Angular</a></li>
            <li class="text"><a href="#">Node.js</a></li>
            <li class="text"><a href="#">MongoDB</a></li>
        </nav>
    </div>
</div>