<div class="registerBkng">
    
    <p class="hiredDash"><span>Hired Dashboard</span></p>
    
    <a href="#/page-home" class="signOut"><span>Sign out</span></a>
    
</div>

<div>
    
    <div class="blueBox">
        <p class="htmlTest">HTML Test <span class="this"> - {{thisQuestion + 1}} of {{totalQuestions}}</span></p>
    </div>
    
    <div>
        <p class="question"><strong>{{ currentQuestion.question }}</strong></p>
    </div>
    
</div>


<div  ng-repeat="answer in currentQuestion.multipleChoice" class="answers">    
    <input type="radio" name="selected" value="index"> {{ answer }}
</div>

<button type="button" ng-click="nextProblem()">next</button>

