<div class="registerBkng">
    <div>
        <p class="hired"><span>Hired Registration</span></p>
    </div>
</div>


<div class="register">
    <h1>New User registration</h1>
    <hr>
    <form class="registerboxes">
        
        <p class="boxName">Name</p>
        <input type="text" name="name" id="name" class=" emailBox form-control" placeholder="Email" required/>
        
        <p class="boxEmail">Email</p>
        <input type="text" name="name" id="name" class="nameBox form-control" placeholder="Name" required autofocus/>
        
        <p class="boxPass">Password</p>
        <input type="password" name="name" id="name" class="passwordBox form-control" placeholder="Password" required/>

    <a href="#/dashboard" class="regiButton btn btn-default btn-lg">Register</a>
    <a href="#/page-home.html" class="backBtn"> Back </a>
    </form>
</div>
