<div>
    
    <nav class="navBar">
        <li><a href="#/page-home">Sign out</a></li>
    </nav>
    
    <div class="langBack">
        <nav class="langBar">
            <li class="text"><a href="#/html">HTML</a></li>
            <li class="text"><a href="#/css">CSS</a></li>
            <li class="text"><a href="#/javascript">Javascript</a></li>
            <li class="text"><a href="#/mongo">MongoDB</a></li>
            <li class="text"><a href="#/mongo">Express</a></li>
            <li class="text"><a href="#/angular">AngularJS</a></li>
            <li class="text"><a href="#/node">Node</a></li>
            <li class="text"><a href="#/node">React</a></li>
            <li class="text"><a href="#/node">jQuery</a></li>
            <li class="text"><a href="#/node">Databases</a></li>
            <li class="text"><a href="#/node">Git &amp Github</a></li>
        </nav>
    </div>
</div>