/*Home page background Video*/
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}






/* PAGES (specific colors and styles for each page)
============================================================================= */

/* Home Page*/
.page-home { 
    padding-top:200px;
    position:absolute; 
    text-align:center;
    width:100%; 
    margin-top: 5%;
}

span {
    color: yellow;
}

.loginForm {
    position: absolute;
    margin-top: 10%;
}

.welcome {
    right: 4.5%;
}

.title {
    position: absolute;
    left: 32.5%;
    bottom: 58%;
    font-size: 1.5em;
    color: #fff;
}

#email {
    width: 13%;
    position: absolute;
    right: 55%;
    height: 20%;
    top: 80%;
}

#password {
    width: 13%;
    position: absolute;
    left: 45.5%;
    height: 20%;
    top: 80%;
}

#signInBtn {
    width: 5%;
    height: 60px;
    margin-left: 25%;
/*    position: absolute;*/
    top: 80%;
}

/*
#title {
    color: black;
    right: 50%;
    font-size: 1.5em;
    bottom: 5%;
}
*/

.registerLink {
    position: absolute;
    bottom: 40%;
    left: 60%;
    color: yellow;
}


/*register page*/
.registerBkng {
    height: 5em;
    width: 100%;
    background-color: #080808;
    opacity: 0.6;
    background-color: transparent, #686868;  
}

.hired {
    font-size: 1.5em;
    position: absolute;
    top: 2%;
    margin-left: 2%;
}

.register {
    margin-left: 4%;
}

input {
    position: absolute;
    display: inline-block;
}
.nameBox {
    top: 23%;
    width: 13%;
    height: 5%;
    left: 45%;
}

.emailBox {
    top: 38%;
    width: 13%;
    height: 5%;
    left: 45%;
}

.regiTitle {
    text-align: center;
}

.passwordBox {
    top: 55%;
    width: 13%;
    height: 5%; 
    left: 45%;
}

.regiButton {
    margin-top: 10%;
    margin-left: 43%;
}

.boxName {
    position: absolute;
    top: 20%;
    left: 45%;
}

.boxEmail {
    margin-top: 10%;
    margin-left: 43%;
}

.boxPass {
    margin-top: 7.5%;
    margin-left: 43%;
}

.backBtn {
    position: absolute;
    left: 45.5%;
    margin-top: 15%;
    color: blue;
    
}





/*Dashboard page*/
.hiredDash {
    font-size: 1.5em;
    position: absolute;
    top: 2%;
    margin-left: 2%;
}

.navBar {
    text-align: right;
    list-style-type: none;
    margin-right: 1%;
    margin-top: 1%;
}

.signOut {
    font-size: 1.3em;
    position: absolute;
    right: 2%;
    top: 2%;
}

.lang {
    font-size: 1.6em;
    text-align: center;
    margin-top: 3%;
}

hr {
    width: 90%;
    border: 0;
    height: 1px;
    background: #000;
    opacity: 0.2;
}

.images {
    width: 100%;
	min-width: 695px;
	height: 180px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-left: 7%;
}

.width {
    width: 30%;
    justify-content: flex-end;
    padding: 5%;
    left: 5%;
}


/*
.langBack {
    display: inline-block;
    margin-left: 1%;
    width: 8%;
    position: absolute;
    height: 100%;
    margin-left: 0%;
    opacity: 0.8;
    background-color: transparent;
}
*/

/*
.langBar {
    color: #ffffff;
    font-weight: 400;
    list-style-type: none;
    display: inline-block;
}

.text {
    margin-left: 10%;
    margin-top: 15%;
    word-spacing: 1%;;
}
*/

/*HTML QUESTION PAGE*/
.this {
    color: transparent;
}
/*END OF HTML QUESTION PAGE*/


