/*Home page background Video*/
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}






/* PAGES (specific colors and styles for each page)
============================================================================= */

/* Home Page*/
.page-home { 
    padding-top:200px;
    position:absolute; 
    text-align:center;
    width:100%; 
    margin-top: 5%;
}

span {
    color: yellow;
}

.loginForm {
    position: absolute;
    margin-top: 10%;
}

.welcome {
    right: 4.5%;
}

.title {
    position: absolute;
    left: 32.5%;
    bottom: 58%;
    font-size: 1.5em;
    color: #fff;
}

#email {
    width: 13%;
    position: absolute;
    right: 55%;
    height: 20%;
    top: 80%;
}

#password {
    width: 13%;
    position: absolute;
    left: 45.5%;
    height: 20%;
    top: 80%;
}

#signInBtn {
    width: 5%;
    height: 60px;
    margin-left: 25%;
/*    position: absolute;*/
    top: 80%;
}

/*
#title {
    color: black;
    right: 50%;
    font-size: 1.5em;
    bottom: 5%;
}
*/

.registerLink {
    position: absolute;
    bottom: 40%;
    left: 60%;
    color: yellow;
}


/*register page*/
.registerBkng {
    height: 5em;
    width: 100%;
    background-color: #080808;
    opacity: 0.6;
    background-color: transparent, #686868;  
}

.hired {
    font-size: 1.5em;
    position: absolute;
    top: 2%;
    margin-left: 2%;
}

.register {
    margin-left: 4%;
}

input {
    position: absolute;
    display: inline-block;
}
.nameBox {
    top: 23%;
    width: 13%;
    height: 5%;
    left: 45%;
}

.emailBox {
    top: 38%;
    width: 13%;
    height: 5%;
    left: 45%;
}

.regiTitle {
    text-align: center;
}

.passwordBox {
    top: 55%;
    width: 13%;
    height: 5%; 
    left: 45%;
}

.regiButton {
    margin-top: 10%;
    margin-left: 43%;
}

.boxName {
    position: absolute;
    top: 20%;
    left: 45%;
}

.boxEmail {
    margin-top: 10%;
    margin-left: 43%;
}

.boxPass {
    margin-top: 7.5%;
    margin-left: 43%;
}

.backBtn {
    position: absolute;
    left: 45.5%;
    margin-top: 15%;
    color: blue;
    
}




/**/
/*DASHBOARD PAGE*/
/**/
.hiredDash {
    font-size: 1.5em;
    position: absolute;
    top: 2%;
    margin-left: 2%;
}

.navBar {
    text-align: right;
    list-style-type: none;
    margin-right: 1%;
    margin-top: 1%;
}

.dashboard {
    font-size: 1em;
    position: absolute;
    right: 7%;
    top: 2%;
}

.signOut {
    font-size: 1em;
    position: absolute;
    right: 2%;
    top: 2%;
}

.lang {
    font-size: 1.6em;
    text-align: center;
    margin-top: 3%;
}

hr {
    width: 90%;
    border: 0;
    height: 1px;
    background: #000;
    opacity: 0.2;
}

.images {
    width: 100%;
	min-width: 695px;
	height: 180px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-left: 7%;
}

.width {
    width: 30%;
    justify-content: flex-end;
    padding: 5%;
    left: 5%;
}

.express {
    margin-top: 8%;
    margin-left: inherit;
}

.picTitle {
    font-size: 1.3em;
    margin-top: 10%;
}

.htmlTitle {
    margin-left: 7%;
}

.htmlSub {
    margin-left: -32%;
}

.cssTitle {
    margin-left: 10%;
}

.cssSub {
    margin-left: -40%;
}

.javaTitle {
    margin-left: 5%;
}

.javaSub {
    margin-left: -40%;
}

.mongoTitle {
    margin-left: 5%;
}

.mongoSub {
    margin-left: -33%;
}

.expTitle {
    margin-left: 17%;
}

.expSub {
    margin-left: -40%;
    text-align-last: center;
}

.angTitle {
    margin-left: 5%;
}

.angSub {
    margin-left: -48%;
}

.nodeTitle {
    margin-left: 6%;
}

.nodeSub {
    margin-left: -48%;
}

.reactTitle {
    margin-left: 9%;
}

.reactSub {
    margin-left: -45%;
}

.jqTitle {
    margin-left: 8%;
}

.jqSub {
    margin-left: -50%;
}

.dataTitle {
    margin-left: 4%;
}

.dataSub {
    margin-left: -48%;
}

.gitTitle {
    margin-left: 12%;
}

.gitSub {
    margin-left: -50%;
    text-align-last: center;
}

.githubTitle {
    margin-left: 9%;
}

.hubSub {
    margin-left: -55%; 
}

/*HTML QUESTION PAGE*/
.this {
    color: transparent;
}

.blueBox {
    background-color: #1565C0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.htmlTest {
    color: #fff;
    margin-left: 43%;
    font-size: 1.5em;
    padding: 1%;
    text-align: left;
}

.question {
    text-align: center;
    margin: 3% auto 3% auto;
    
}

.questions {
    margin-top: 7%;
}

.questionLines {
}

.answers {
    margin: 1% auto 1% auto;
    margin-left: 40%;
    text-align: -webkit-match-parent;

}

input[type="radio"]{
    margin: 0 -30px;
    margin-top: 0.2%;
}

.nextBtn {
    position: absolute;
    top: 75%;
    left: 70%;
}

.showBtn {
    position: absolute;
    top: 80%;
    left: 70%;
}

.linkDiscuss {
    position: absolute;
    left: 80%;
    top: 78%;
}
/*END OF HTML QUESTION PAGE

/*RESULT PAGE*/
.congrats {
    position: absolute;
    left: 25%;
    top: 35%;
}

.scored {
    position: absolute;
    left: 25%;
    top: 40%;
}

.review {
    position: absolute;
    left: 25%;
    top: 45%;
    text-decoration: none;
}

.line {
    position: absolute;
    top: 47%;
    left: 25%;
    width: 50%;
    border: 0;
    height: 1px;
    background: #000;
    opacity: 0.5;
}

.lines {
    width: 50%;
    opacity: 0.5;
}

.wrongRight {
    text-align: center;
    margin-top: 12%;
    padding-left: 25%;
    padding-right: 25%;
    text-align-last: inherit;
}
/*END OF RESULT PAGE*/

/*DISCUSSION PAGE*/
.htmlTestAnswers {
    margin-left: 40%;
}
/*END OF DISCUSSION PAGE*/

.thingy = {
    border-color: red;
}


